@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner_container">

    <div class="layout">        

        <form name="frmAwb" id="input_awb" action="/AWBTracking_DirectConsignee/SearchKVD" method="post" target="_self" onsubmit="">

            <input name="section" id="input_awb_action" type="hidden">
            <input name="layout" value="03_cs" type="hidden">
            <table class="bdr" width="1000">
                <tbody>
                    <tr>
                        <td class="awb_title" width="132">@HCSVNewWebsite.Commons.TitleConst.getTitleConst("KHONG_VAN_DON")</td>
                        <td width="856">
                            <input name="awbFirst" onkeyup="onKeyUpField();" maxlength="3" size="2" value="" type="text">
                            <input name="awbLast" maxlength="8" size="8" value="" type="text">
                            <a href="#" class="btn" id="btnGo" value="agent" onclick="document.getElementById('input_awb').submit();" form="input_awb"><span>Go</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        
        <table id="formnotfound" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr valign="top">
                    <td>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr bordercolor="#FFFFFF" bgcolor="#eaeaea">

                                    <td class="awb_title" align="center">SỐ KHÔNG VẬN ĐƠN KHÔNG TỒN TẠI </td>

                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>&nbsp;</p>

    </div>

</div>

