/*********************BEGIN: CSS for Mobile******************************/
@media screen and (max-width: 640px) {   
    .navbar-nav {
        margin: 0 !important;
        background: #ffffff !important;
    } 
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        width: 100%;
        margin: 0 !important;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form { 
        position: absolute;
        z-index: 9999;
        float: right;        
        overflow-x: hidden;        
    }

    .carousel {
        height: 170px !important;
    }

    .carousel .item {
        height: 170px !important;
    }

    .slider-caption:not(.dark), .slider-caption:not(.dark) h2, .slider-caption:not(.dark) h2 span {
        margin: -40px 0 10px 0 !important;    
    }

    .slider-caption p {
        font-size: 16px !important;
    }

    #slider img {
        width: 100% !important;
    }

    div#slider-arrow-left, div#slider-arrow-right {
        display: none;
    }
    
    .slide_css img {
        height: 155px !important;
        width: auto !important;
    }

    .home_content_css {
        padding-right: 0 !important;
    }

    .case_study_css {
        padding-right: 0 !important;
    }
    
    .s20 {
        padding-right: 0 !important;
    }

    .support_css_1 .col-md-6 {
        padding: 0 !important;
    }

    .img_news_css img {
        width: 100% !important;
        height: auto !important;
    }

    .img_client_css {
       margin: 21px 0px 25px 2px !important;
    }

    .intro__css {
        padding: 20px 0px 20px 0px !important;
    }

    .icon_css {
        float: none !important;
        text-align: center !important;
     }

    .icon_small_css {
        margin-top: 5px;
    }

    .bg_copyright_css .col-md-6 {
        padding-bottom: 11px !important;
        float: none !important;
    }


    .view_on_mobile_css {
        display: block;
        margin: 0 auto;
    }
    .view_on_app_css {
        display: none;
        width: 100%;
    }

    .navbar-header {
        width: auto !important;
    }

    .add_content_css {
        padding-left: 0px !important;
        padding-bottom: 20px !important;
    }

    .content_col_css {                
        padding-left: 0 !important;
    }

    img#ianupys7imgimage {
        margin-top: -4px;
    }

    .top_bg_1 {
        background-color: #2f2f2f !important;
        height: 30px !important;
    }

    .row_news_css .col-md-9 h3 {
        margin-top: 20px !important;
    }

    .top_return_css {
        margin-top: -140px !important;
        display: none;
    }

    .s19bg {
        display: none !important;
    }

    .btn_1 {
        text-align: center;
        margin-bottom: 39px;        
    }

    .flag_jp__css {
        display: none !important;
    }

    #navbar ul li a {
        width: 190px;
        background-color: #e50102 !important;
        color: #ffffff !important;
        padding: 5px 38px !important;
    }

    .slide_css .carousel-caption {
        margin-top: 0 !important;
    }

    span.btn_news_css_2 {
        margin: 15px auto !important;
        float: none;
    }

    .box_title {
        border: none !important;
        height: auto !important;
        margin: 0 !important;
    }

    .btn_click_css  {
        float: none;
        margin: 0 auto;
    }

    .bg_1 {
        margin-bottom: 30px;
    }

    .content_col_css img {
        width: 100% !important;
    }

    .nav_2 {
        display: none !important;
    }
}
/*********************END: CSS for Mobile******************************/


.img__css {
    width: 98px;
    height: 93px;    
    margin: 30px auto;
}

.img__css_1 {
    background: url(../imgs/photos/icon-1.png); 
}

.hot_line_css {
    background: url(../imgs/photos/icon-hot-line.jpg) no-repeat;     
    height: 18px;
    float: left;
    padding: 3px 26px;
    color: #9a9a9a;
    font-family: Arial !important;
}

.img__css_2 {
    background: url(../imgs/photos/icon-2.png);    
}

.img__css_3 {
    background: url(../imgs/photos/icon-3.png); 
}

.box_title {
    border: 1px solid #cccccc;
    margin: -121px 17px 42px 0;
    background: #f8f8f8;
    height: 510px;
}

.bg_middle_css{
    background: url(../imgs/photos/icon-4.jpg) repeat-x; 
    width: 100%;
    height: 91px;
    float: left;    
    text-align: center;
}

.bg_100percent_css {
    width: 100%;
    float: left;
}

.bg_footer_css {
    background: #191c25;
    width: 100%;
    float: left;
    padding: 35px 0 15px 0;
    border-top: 2px solid #353841;    
    margin-top: -5px;
}

.bg_middle_css span {
    color: #ffffff;
    font-weight: bold;
    font-size: 29px;
    margin-top: 32px;
    display: block;
    margin-top: 26px;
}

.img_client_css {
    border: 1px solid #d0dfe2;
    display: block;
    text-align: center;
    margin: 21px 25px 25px 0px;
}


.add_title_css {
    background: url(../imgs/photos/icon-address.jpg) 0 0 no-repeat;
    width: 100%;
    height: 22px;
    padding: 2px 0 0 27px;
    float: left;
}

.title_css {
    color: #bfbfbf;
    font-weight: bold;
}

.email_title_css {
    background: url(../imgs/photos/icon-email.jpg) 0 3px no-repeat;
    width: 100%;
    height: 22px;
    padding: 2px 0 0 27px;
}

.bg_map_css {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.btn_map_css {
    background: url(../imgs/photos/icon-map.jpg) 9px 5px no-repeat;
    padding: 0px 0 0 27px;
    border: 1px solid #636466;
    width: 122px;
}

.btn_map_css span {
    padding: 5px;
    display: block;
    color: #bfbfbf;
    font-size: 12px;
}

.add_content_css {
    float: left;
    width: 100%;
    color: #bfbfbf;
    padding: 21px 0 0 57px;
}

.bg_copyright_css {
    width: 100%;
    display: block;
    color: #bfbfbf;
    margin: 20px 0 20px 0;
    float: left;
}

.col-md-3, .col-md-9, .col-md-8, .col-md-4, .col-sm-6, .col-sm-10 {
    padding: 0;
}


/************************BEGIN: Reset padding **************************/
.row_news_css .col-md-3 {
    padding: 0 !important;
}

.about_css .col-md-8,  .about_css .col-md-4 {
    padding: 0 !important;
}

#PAGES_CONTAINER .col-md-4 {
    padding: 0 !important;
}

.case_study_css_1 .col-md-4, .case_study_css_2 .col-md-4 {
    padding: 0 !important;
}

.client_css .col-md-4 {
    padding: 0 !important;
}

 .map_css {
    padding: 0 !important;
}

/************************END: Reset padding **************************/

.top_return_css {
    background: url(../imgs/photos/icon-top-return.jpg) 0 0 no-repeat;
    width: 45px;
    height: 45px;
    float: right;
    cursor: pointer;
    top: 192px;
    z-index: 999;
    position: relative;
}

.btn_click_css {
    background: url(../imgs/photos/icon-button.png) 0 0 no-repeat;
    width: 184px;
    height: 42px;
    float: left;
    cursor: pointer;
    text-align: center;

    display: block;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 0 0 0;
    margin: 0 0 36px 30px;
}

.btn_news_css span {
    /*background: url(../imgs/photos/icon-news-button.png) 0 0 no-repeat;*/
    width: 132px;
    height: 32px;
    float: left;
    cursor: pointer;
    display: block;    
    font-size: 14px;
    color: #cd0402;
    padding: 4px 0 0 0;
    text-decoration: underline;
    text-align: left;
}

span.btn_news_css_2  {
    background: url(../imgs/photos/icon-news-button-2.png) 0 0 no-repeat;
    width: 182px;
    height: 42px;
    float: left;
    cursor: pointer;
    text-align: center;

    display: block;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    padding: 5px 0 0 0;
}

.btn_news_css {
    width: 100%;
    float: left;
    margin: 5px 0 0 0;
}

.row_news_css {
    width: 100%;
    float: left;
    margin: 10px 0 10px 0;
    border-bottom: 1px solid #e2e2e2;
    padding: 23px 0 40px 0;
}

.content_news_css {
    text-align: justify;
    display: block;
    color: #3a3a3a;
}

.row_news_css .col-md-9  {   
    padding-left: 64px;
}

.img_news_css img {    
    border: 1px solid #b1b1b1;
    width: 223px;
    height: 140px;
}

.row_news_css .col-md-9 h3 {
    font-weight: bold;
    width: 100%;
    float: left;
    font-size: 18px;
    color: #3a3a3a;
    margin: -2px 0 20px 0;
}

.bg_middle_css_1 {
    width: 100%;
    float: left;
    background: #e6f0f2;
}

.title__css {
    color: #393939;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 0 20px 0 20px;
}

.intro__css {
    padding: 20px 5px 20px 5px;
    text-align: left;    
    color: #000000;
}

.representative_img_css img {
    width: 100%;
}

.slide_css img {        
    max-width: none!important;        
    width: 2652px;    
    
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;        
    -webkit-transform: translateY(-50%) translateX(-50%);
    /*height: 472px !important;*/
}

.carousel .item {
    background-color: #ffffff !important;
    margin-top: -10px;
    /*background: url(../imgs/photos/icon-top-bg.jpg) repeat-x;     */
}

.invisible_css {
    /*display: none;*/
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;    
}

.carousel-control {
    width: 3% !important;
}

span.glyphicon.glyphicon-chevron-left::before, span.glyphicon.glyphicon-chevron-right::before {
    content: none;
}

#slider-arrow-left, span.glyphicon.glyphicon-chevron-left {        
    background: url(../imgs/photos/icon-pre.png) no-repeat;         
    width: 54px;
    height: 54px;    
}

#slider-arrow-right, span.glyphicon.glyphicon-chevron-right {        
    background: url(../imgs/photos/icon-next.png) no-repeat;        
    width: 54px;
    height: 54px;    
}

.slide_css .carousel-caption {
    position: relative;
    right: 0%;
    bottom: 20px;
    left: 0%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    color: #20232c !important;
    text-align: center;
    text-shadow: none;
    margin-top: -402px;
    float: left;
    
}

.slide_css .carousel-caption p {
    font-size: 15px !important;
    line-height: 1.3 !important;
}

.slide_css h1 {
    font-weight: bold;
    color: #20232c !important;
    text-align: left;
}

.slide_css .container {
    margin: 0 auto !important;
}

.s20 input, .s20 textarea {
    -moz-appearance: none;
    background-color: #f2f2f2;
    border: 1px solid #d8d8d8;
    color: #464b4e;
    font: 14px/1.4em Arial,sans-serif;    
    width: 100%;
    height: 35px;
    margin: 0px 0px 26px 0;
}

.s20 button, .s20 input, .s20 textarea {    
    padding: 5px;
}

.s20[data-state~="left"] button {
    float: right;
}

.s20 button {
    background-color: rgba(70, 75, 78, 1);
    border: 0 none;
    color: #ffffff;
    cursor: pointer;
    float: right;
    font: 17px/1.4em Arial,sans-serif;
    margin: 0;
    
}

.s20bg_css 
{
    margin: 0 0 26px 0;
}

.menu_title_css {
    background-color:#e6f0f2 !important;
    background: url(../imgs/photos/icon-top-bg-1.jpg) repeat-x;     
    height: 98px;
}

.menu_title_css h1 {
    font-size: 23px;
    font-weight: bold;
    color: #ff0e10;
    text-transform: uppercase;
    padding: 36px 0 0 0;
}

.header 
{   
    padding: 0px;
    margin-bottom: 15px;
    text-align: left;    
}

.s19inlineContent, .s19bg {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.s19bg {
    background-color: rgba(255, 255, 255, 0.22);
    border: 0 solid rgba(24, 26, 28, 1);
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6);
    float: left;
    display: block;
    width: 100%;
}

.s19bg iframe {
    padding: 10px;
    float: left;
}

#nav {
    position: fixed;
    width: 140px;
    top: 100px;
    left: 20px;
    border-radius: 5px;
    background: #EFEFEF;
    box-shadow: 1px 1px 3px rgba(37, 36, 36, 0.50);
}

#nav ul li a {
    padding: 8px 6px 8px 16px;
    display: block;
    color: #464b4e;
}

#nav ul li.active a {
    background-color: #1D5377;
    color: #fff;
}

.view_on_mobile_css {
    display: none;
}
.view_on_app_css {
    display: block;
}


#navbar ul li a {
    padding: 21px 9px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    color: #000000;    
}

.container-fluid {
    padding: 0 !important;
}

.navbar  {
    border: none !important;
    margin-bottom: 3px !important;
}

.navbar-nav {
    float: right !important;
}

.navbar-header {
    width: 250px;
}

.title_logo__css {
    font-size: 12px;
    color: #616161;
    display: block;
    text-align: right;
    margin-top: -7px;
    display: none;
}

.flag_jp__css {
    float: right;
    display: block;
    margin: 12px 0px 0px 0px;
}

.logo__css {
    margin-top: 14px;
}

.top_bg_1 {
    background-color: #aa001b;
    height: 4px;    
}

.detail_news_css h2 {
    font-weight: bold;
    font-size: 22px;
    color: #393939;
    padding: 15px 0 0 0;
}

.detail_news_css .content_col_css {
    text-align: justify;
}

.detail_news_css .content_col_css img {
    text-align: center;
    display: block;
}

.like_fb_css {
    background: url(../imgs/photos/icon-like-fb.jpg) no-repeat;     
    width: 53px;
    height: 20px;
    float: left;
}

.share_fb_css {
    background: url(../imgs/photos/icon-share-fb.jpg) no-repeat;     
    width: 42px;
    height: 20px;
    float: left;
}

.fb_css {
    margin: 10px 0 11px 0;
}

.about_img_css img {
    width: 100%;
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 20px 0 20px 0;
}

.header h6 span {
    color: #ff0e10;
    font-weight: bold;
    font-size: 24px;
}

.home_content_css {
    padding: 0 30px 40px 0;
    text-align: justify;
}

.home_title_css {
    margin: 0 0 30px 0;
}

.btn_bg_css {
    background-color: #ffffff !important;
    margin: 3px 0 35px 0 !important;
    display: block;
    font-weight: bold !important;
    font-size: 22px !important;
}

.support_css {
    height: 35px;
}

.case_study_img_css img {
    width: 100%;
    height: 187px;
    border-left: 1px solid #afafaf;
    border-right: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

.case_study_title {
    background: url(../imgs/photos/icon-casestudy.jpg) right 0px no-repeat;
    background-color: #e50100;
    width: 100%;
    height: 58px;    
    float: left;
    vertical-align: middle;
    display: block;
    color: #ffffff;
}

span.case_study_title span {
    vertical-align: middle;
    margin: 17px 0 0 15px;
    display: block;
}

.case_study_css {
    padding: 0 20px 30px 0;
}

.other_casestudy_css {
    color: #393939;
    font-size: 20px;
    font-weight: bold;
    margin: 30px 0 30px 0;
    display: block;
}

#PAGES_CONTAINER .box_title {
    margin: 0px 17px 42px 0;
}

.title_system_inter_css {
    width: 100%;
    height: 49px;        
    vertical-align: middle;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10px;
    margin-bottom: 25px;
    margin-top: 28px;
    float: left;
}

.bg_services_css_9 {
    /*background-color:#e6f0f2 !important;*/
    background: url(../imgs/photos/icon-top-bg.jpg) repeat-x;    
    padding-bottom: 25px;
}

.bg_services_css_8 {
    /*background-color:#e6f0f2 !important;*/
}

.services_title_css_2 {
    font-weight: bold;
    font-size: 21px;
    margin: 12px 0 10px 0;
    color: #393939;
}

.services_content_css_3 {
    color: #393939;
}

.nav_2 ul li, .nav_2 ul li.active a {
    width: 140px;
}

div#BusinessModel {
    padding-top: 32px;
}

div#PAGES_CONTAINER {
    margin-top: 40px;
}

.item_1 {
    padding-bottom: 14px;
}

.navbar-default {
    background: #ffffff !important;
}

.our_teams_item_css {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 36px;
}

.name_our_team_css {
    font-weight: bold;
    color: #ff0e10;
    padding-bottom: 8px;
}

.title_our_team_css {
    font-weight: bold;
}

.col-md-3 .our_teams_item_css {
    height: 295px;
}

.intro_out_teams_css {
    text-align: justify;
    padding-bottom: 25px;
}

.title_1 {
    background: #e7f1f3;
    margin-top: -9px;
    text-align: center;
    padding-top: 10px;
    color: #000000;
    height: 40px;
    display: block;
    width: 100%;
    font-size: 15px;
}

.case_study_css_1 {
    margin-top: 27px;
    margin-bottom: 64px;
}

.case_study_css_2 {
    margin-bottom: 115px;
}

.client_css {
    margin: 6px 0 64px 0;
}

.client_css_2 {
    margin: 40px 0 24px 0;
}

.news_css {
    margin: 25px 0 8px 0;
}

.last_item {
    border: none;
}

.other_news_css {
    font-size: 18px;
    color: #3a3a3a;
    border-bottom: 2px solid #e3e3e3;
    width: 100%;
    float: left;
    font-weight: bold;
    margin: 30px 0 14px 0;
}

.detail_news_css img {
    margin: 0 auto;
}

.line_red_css {
    width: 132px;
    margin: 0 auto;
    border-bottom: 4px solid #ff0e10;    
    display: block;
}

.line_red_css_1 {
    margin: -29px 0 26px 0;
}

.suppor_line_css {
    width: 100%;
    display: block;
    border-bottom: 4px solid #eb161a;
    padding-bottom: 5px;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
}

.title_txt_css {
    width: 100%;
    display: block;
    float: left;
    color: #000000;
    margin-bottom: 10px;
}

.message_css {
    height: 140px !important;
}

.btn_2 {
    float: right;
}

.support_css_1 {
    margin-top: 30px;
    margin-bottom: 75px;
}


.bg_copyright_css .col-md-6 {
    padding: 0;
}

.icon_css {
    float: right;
    text-align: right;
}

.icon_css img {
    padding: 0 0px 0 10px;
}

.bg_map_home_css {
    display: block;
    border-top: 2px solid #353841;

    padding: 0;
}

.bg_map_home_css_1 {    
    background: #ffffff !important;
}

.footer_office_css {
    background: #191c25;
    height: 123px;
}

.footer_office_css .title_system_inter_css {
    color: #ffffff;
    text-transform: none;
    font-size: 29px;
    margin-bottom: 32px;
}

.address_css strong {
    color: #ffffff;
}

.menu_css {
    padding-right: 0 !important;
}

.menu_css ul li a {
    padding: 4px 0px 3px 20px !important;
    margin: 0px 0 16px 0;
}

.contact_info_css {
    padding-left: 0px !important;
}

.last_item_css_1 {
    margin-right: 0px;
    margin-left: 25px;
}

.first_item_css_1 {
    margin-right: 50px;
    margin-left:  0;
}

.engagement_css {
    background: url(../imgs/photos/bg-home-1.jpg) repeat-x;
    margin: 45px 0 0 0;
}

.title_2 {
    text-transform: none;
    font-size: 29px;
    margin-bottom: 34px;
}

.nav-9 {
   /* display: none;*/
}

.box_title_2 {
    border: 1px solid #cacaca;
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
}

.line_css_2 {    
    border-bottom: 4px solid #ff0e10;
    width: 100%;
    float: left;
}

.title__css_2 {
    font-size: 23px;
    color: #000000;
    font-weight: bold;
    width: 100%;
    text-align: center;
    height: 126px;
    vertical-align: middle;
    padding: 30px 0 0 0;
}

.about_us_home_css {
    background: url(../imgs/photos/bg-home-1.jpg) repeat-x;
    margin: 59px 0 0 0;    
}

.about_us_home_css img {
    width: 100%;
    float: left; 
    padding: 14px;   
}

.about_us_home_css .col-md-6 {
    text-align: justify;
}

.title_3 {
    color: #000000 !important;
    font-size: 23px;
}

.intro_1 {
    font-size: 18px;
    font-weight: normal !important;
}

.sevice_home_css {
    margin: 100px 0 0 0;
}

.our_teams_css {
    margin: 30px 0 0 0;
}

.title_4 {
    color: #3d88c1;
    height: 53px;
}

.link_css_1 {    
    cursor: pointer;        
    color: #cd0402;    
    text-decoration: underline;
}

.sevice_home_css .col-md-4 img {
    width: 100%;
}

@font-face {
    font-family:Raleway;
    src:  url("../Fonts/raleway/Raleway-Medium.ttf");
}

*{
    font-family: Raleway;
    font-size: 13px;    
}

.about_css li {
    list-style-image: url('../imgs/photos/dot-red.jpg');
}

.service_css .title__css {
    height: 67px;
}

.service_css .intro__css {
    padding-left: 28px;
    padding-right: 28px;
}

#slider {
    margin: -62px 0 0 0;
    background: url('../imgs/photos/bg-banner.jpg') no-repeat;

}


.btn_click_css span {
    font-weight: bold;
    font-size: 22px;
}

.navbar-nav a.selected {
    color: #ff0e10 !important;
}

.contact_info_css td {
    font-family: Arial !important; 
    font-size: 13px  !important;
}

.banner_text strong, .banner_text strong span {
    color: #222;
    text-shadow: none;
    margin-top: -12px;
    font-size: 49px;
    font-weight: normal;
}

.banner_text {
    margin-bottom: 10px;
    font-size: 29px;
}

.slider-caption-center {
    top: 122px !important;
}

.index_casestudy_css {
    margin-top: 45px;
}

.f-nav{ 
	z-index: 9999; 
	position: fixed; 
	float: left;
	left: 0; 
	top: 0; 
	width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
} 

.error_css {
    color: red;
    font-weight: bold;
}

.success_css {
    color: #0844d5;
    font-weight: bold;
    padding-top: 30px;
    width: 100%;
    float: left;
    text-transform: uppercase;
}

.menu_css_123 {
    float: right;
    width: 73%;
}