
@{
    ViewBag.Title = "View_body_banggia4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="awb_title"> BẢNG GIÁ ÁP DỤNG HIỆN HÀNH</td>
        </tr>
        <tr>
            <td class="awb_title">TẠI CÔNG TY TNHH DỊCH VỤ HÀNG HÓA TSN</td>
        </tr>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table class="price" width="34%" border="0" align="right" cellpadding="2" cellspacing="0">
                    <tr>
                        <td width="9%">
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td width="91%">
                            <a href="/AWB/View_body_banggia1">
                                GIÁ
                                LƯU KHO
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td><a href="/AWB/View_body_banggia3">GIÁ PHỤC VỤ</a></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td>PHỤ THU GIÁ LAO VỤ NGOÀI GIỜ</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td>
                            <a href="/AWB/View_body_banggia3">
                                GIÁ
                                CÁC LỌAI DỊCH VỤ KHÁC
                            </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" class="tbl02">
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td width="4%" rowspan="2" align="center" class="title">STT</td>
                        <td width="43%" rowspan="2" align="center" class="title">Nội dung các khoản thu</td>
                        <td width="8%" rowspan="2" align="center" class="title">Đơn vị Tính</td>
                        <td width="8%" rowspan="2" align="center" class="title">Giá lao vụ cho hàng gửi lại kho</td>
                        <td colspan="3" align="center" class="title">Các mức phụ thu </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td width="11%" align="center" class="title">Từ 17:00 đến 21:59 từ thứ Hai đến thứ Bảy</td>
                        <td width="13%" align="center" class="title">
                            <p>- Từ 22:00 đến 05:59 sáng hôm sau các ngày từ thứ Hai đến thứ Sáu</p>
                            <p>- Từ 22:00 đến 23:59 thứ Bảy và 00:00 đến 05:59 thứ Hai</p>
                        </td>
                        <td width="13%" align="center" class="title">Từ 00:00 đến 23:59 các ngày Chủ nhật, ngày nghĩ Lễ, Tết, ngày nghỉ bù của Lễ, Tết theo quy định của nhà nước</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td align="center"><strong>A. </strong></td>
                        <td colspan="6"><strong>Chính sách giá lao vụ và các mức phụ thu cho hàng nhập khẩu gửi lại kho</strong>  </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="2" align="center">1</td>
                        <td width="43%" height="20" class="tbl01"><strong>Hàng thông thường</strong></td>
                        <td width="8%" align="center" class="tbl01">&nbsp;</td>
                        <td width="8%" align="right" class="tbl01">&nbsp;</td>
                        <td width="11%" align="right" class="tbl01">&nbsp;</td>
                        <td width="13%" align="right" class="tbl01">&nbsp;</td>
                        <td width="13%" align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">560</td>
                        <td align="right" class="tbl01">50</td>
                        <td align="right" class="tbl01">101</td>
                        <td align="right" class="tbl01">151</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td align="center">&nbsp;</td>
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="3" align="center">2</td>
                        <td class="tbl01"><strong>Hàng chuyển phát nhanh</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">1.250</td>
                        <td align="right" class="tbl01">113</td>
                        <td align="right" class="tbl01">225</td>
                        <td align="right" class="tbl01">338</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">7.000</td>
                        <td align="right" class="tbl01">14.000</td>
                        <td align="right" class="tbl01">20.000</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="3" align="center">3</td>
                        <td class="tbl01"><strong>Hàng dễ hư hỏng</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">625</td>
                        <td align="right" class="tbl01">56</td>
                        <td align="right" class="tbl01">113</td>
                        <td align="right" class="tbl01">169</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">75.000</td>
                        <td align="right" class="tbl01">7.000</td>
                        <td align="right" class="tbl01">14.000</td>
                        <td align="right" class="tbl01">20.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="3" align="center">4</td>
                        <td class="tbl01"><strong>Hàng quý hiếm</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">2.625</td>
                        <td align="right" class="tbl01">236</td>
                        <td align="right" class="tbl01">473</td>
                        <td align="right" class="tbl01">709</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">500.000</td>
                        <td align="right" class="tbl01">45.000</td>
                        <td align="right" class="tbl01">90.000</td>
                        <td align="right" class="tbl01">135.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="3" align="center">5</td>
                        <td class="tbl01"><strong>Hàng động vật sống</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">1.250</td>
                        <td align="right" class="tbl01">113</td>
                        <td align="right" class="tbl01">225</td>
                        <td align="right" class="tbl01">338</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">125.000</td>
                        <td align="right" class="tbl01">11.000</td>
                        <td align="right" class="tbl01">23.000</td>
                        <td align="right" class="tbl01">34.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="2" align="center">6</td>
                        <td class="tbl01"><strong>Quan tài</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Đơn giá</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">625.000</td>
                        <td align="right" class="tbl01">56.000</td>
                        <td align="right" class="tbl01">113.000</td>
                        <td align="right" class="tbl01">169.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td align="center"> <strong>B. </strong></td>
                        <td><strong>Bảng giá phụ thu</strong></td>
                        <td>&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp; </td>
                        <td align="right">&nbsp; </td>
                    </tr>
                    
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="2" align="center" class="tbl01">1</td>
                        <td class="tbl01"><strong>Hàng thông thường xuất khẩu</strong></td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">68</td>
                        <td align="right" class="tbl01">137</td>
                        <td align="right" class="tbl01">205</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu - Hàng xuất khẩu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">15.000</td>
                        <td align="right" class="tbl01">15.000</td>
                        <td align="right" class="tbl01">15.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="11" align="center" class="tbl01">2</td>
                        <td class="tbl01"><strong>Hàng thông thường nhập khẩu</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">450</td>
                        <td align="right" class="tbl01">900</td>
                        <td align="right" class="tbl01">1.350</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">315</td>
                        <td align="right" class="tbl01">630</td>
                        <td align="right" class="tbl01">945</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 6 - 9 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">225</td>
                        <td align="right" class="tbl01">450</td>
                        <td align="right" class="tbl01">675</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">13.500</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">40.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 9 - 12 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">162</td>
                        <td align="right" class="tbl01">324</td>
                        <td align="right" class="tbl01">486</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">13.500</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">40.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng sau 12 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">101</td>
                        <td align="right" class="tbl01">202</td>
                        <td align="right" class="tbl01">302</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">13.500</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">40.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="7" align="center" class="tbl01">3</td>
                        <td class="tbl01"><strong>Hàng chuyển phát nhanh nhập khẩu</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">450</td>
                        <td align="right" class="tbl01">900</td>
                        <td align="right" class="tbl01">1.350</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">315</td>
                        <td align="right" class="tbl01">630</td>
                        <td align="right" class="tbl01">945</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng sau 6 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">225</td>
                        <td align="right" class="tbl01">450</td>
                        <td align="right" class="tbl01">675</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">13.500</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">40.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="7" align="center" class="tbl01">4</td>
                        <td class="tbl01"><strong>Hàng dễ hư hỏng nhập khẩu</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">405</td>
                        <td align="right" class="tbl01">810</td>
                        <td align="right" class="tbl01">1.215</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">284</td>
                        <td align="right" class="tbl01">567</td>
                        <td align="right" class="tbl01">851</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">54.000</td>
                        <td align="right" class="tbl01">81.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giao hàng sau 6 giờ sau khi máy bay đáp</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">113</td>
                        <td align="right" class="tbl01">225</td>
                        <td align="right" class="tbl01">338</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá giao hàng tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">13.500</td>
                        <td align="right" class="tbl01">27.000</td>
                        <td align="right" class="tbl01">40.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td rowspan="5" align="center" class="tbl01">5</td>
                        <td class="tbl01"><strong>Hàng quý hiếm ( VAL)</strong></td>
                        <td align="center" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Hàng xuất</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">473</td>
                        <td align="right" class="tbl01">945</td>
                        <td align="right" class="tbl01">1.418</td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Giá tối thiểu</td>
                        <td align="center" class="tbl01">VND/lần</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">100.000</td>
                        <td align="right" class="tbl01">100.000</td>
                        <td align="right" class="tbl01">100.000</td>
                    </tr>
                    
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td class="tbl01">Hàng nhập</td>
                        <td align="center" class="tbl01">VND/Kg</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">473</td>
                        <td align="right" class="tbl01">945</td>
                        <td align="right" class="tbl01">1.418</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Giá tối thiểu</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">90.000</td>
                        <td align="right">180.000</td>
                        <td align="right">270.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td rowspan="5" align="center">6</td>
                        <td><strong>Hàng động vật sống</strong></td>
                        <td align="center">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng xuất</td>
                        <td align="center">VND/Kg</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">86</td>
                        <td align="right">171</td>
                        <td align="right">257</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Giá tối thiểu</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">25.000</td>
                        <td align="right">25.000</td>
                        <td align="right">25.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng nhập</td>
                        <td align="center">VND/Kg</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">225</td>
                        <td align="right">450</td>
                        <td align="right">675</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Giá tối thiểu</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">22.500</td>
                        <td align="right">45.000</td>
                        <td align="right">67.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td rowspan="3" align="center">7</td>
                        <td><strong>Hàng có giá trị cao ( VUN)</strong></td>
                        <td align="center">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng xuất</td>
                        <td align="center">VND/Kg</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">77</td>
                        <td align="right">153</td>
                        <td align="right">230</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Giá tối thiểu</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">20.000</td>
                        <td align="right">20.000</td>
                        <td align="right">20.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td rowspan="3" align="center">8</td>
                        <td><strong>Hàng nguy hiểm ( DGR)</strong></td>
                        <td align="center">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng xuất</td>
                        <td align="center">VND/Kg</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">130</td>
                        <td align="right">259</td>
                        <td align="right">389</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Giá tối thiểu</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">20.000</td>
                        <td align="right">20.000</td>
                        <td align="right">20.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td rowspan="3" align="center">9</td>
                        <td><strong>Quan tài</strong></td>
                        <td align="center">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng xuất</td>
                        <td align="center">VND/Kg</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">63.000</td>
                        <td align="right">126.000</td>
                        <td align="right">189.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>Hàng nhập</td>
                        <td align="center">VND/lần</td>
                        <td align="right">&nbsp;</td>
                        <td align="right">125.000</td>
                        <td align="right">250.000</td>
                        <td align="right">375.000</td>
                    </tr>


                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td align="center" valign="top"><strong>C</strong>.</td>
                        <td colspan="6">
                            <p><strong>Chính sách miễn lưu kho hàng nhập thông thường, hàng xuất thông thường</strong></p>
                            <p>TCS vẫn áp dụng chính sách miễn lưu kho như trước đây bao gồm :</p>
                            <p>- Hàng nhập thông thường : Không tính lưu kho 2 ngày kể từ ngày chuyến bay đến ( bao gồm ngày chủ nhật và ngày lễ nếu có), ngày chủ nhật , ngày lễ và ngày phát hàng.</p>
                            <p>- Hàng xuất thông thường : Không tính lưu kho 2 ngày kể từ ngày tiếp nhận ( bao gồm ngày chủ nhật và ngày lễ nếu có), ngày chủ nhật , ngày lễ và ngày hàng được giữ chổ cho chuyến bay.</p>
                            <p>- Tiền lưu kho được tính theo ngày dương lịch.</p>
                            <p><em>( các mức giá trên chưa bao gồm thuế GTGT )</em></p>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>



