
@{
    ViewBag.Title = "View_body_banggia3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="awb_title"> BẢNG GIÁ ÁP DỤNG HIỆN HÀNH</td>
        </tr>
        <tr>
            <td class="awb_title">TẠI CÔNG TY TNHH DỊCH VỤ HÀNG HÓA TSN</td>
        </tr>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table class="price" width="34%" border="0" align="right" cellpadding="2" cellspacing="0">
                    <tr>
                        <td width="9%">
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>
                        <td width="91%">
                            <a href="/AWB/View_body_banggia1">GIÁ LƯU KHO</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>
                        <td>
                            <a href="/AWB/View_body_banggia2"><strong>GIÁ LAO VỤ</strong></a>
                        </td>
                    </tr>
        </tr>
        <tr>
            <td>
                <img src="../images/arroww.gif" width="11" height="11">
            </td>
            <td><a href="/AWB/View_body_banggia4">PHỤ THU GIÁ LAO VỤ NGOÀI GIỜ</a></td>
        </tr>
        <tr>
            <td>
                <img src="../images/arroww.gif" width="11" height="11">
            </td>
            <td>
                <strong>GIÁ CÁC LỌAI DỊCH VỤ KHÁC</strong>
            </td>

    </table>
    </TD>
    </TR>
    <tr>
        <td>
            &nbsp;
        </td>
    </tr>
    <tr>
        <td valign="top"></td>
    </tr>
    <tr>
        <td valign="top">
            <table width="100%" class="tbl02">
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td width="4%" align="center" class="title">STT</td>

                    <td width="74%" align="center" class="title">NỘI DUNG CÁC KHOẢN THU</td>

                    <td width="10%" align="center" class="title"> ÐƠN VỊ TÍNH</td>
                    <td width="12%" align="center" class="title"> 	MỨC THU (VND)</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.
                    </td>
                    <td>
                        <strong>GI&#193; CÁC LỌAI DỊCH VỤ KHÁC</strong>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.1
                    </td>

                    <td> Giá phục vụ không vận đơn phụ (HAWB) </td>
                    <td align="center">HAWB</td>
                    <td align="right"> 250,000</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.2
                    </td>
                    <td> Giá áp tải hàng quý hiếm</td>
                    <td align="center">
                        Lần
                    </td>
                    <td align="right">
                        1,455,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.3
                    </td>

                    <td> Khách hủy phiếu giao hàng</td>
                    <td align="center">
                        Lần
                    </td>
                    <td align="right">
                        43,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.4
                    </td>

                    <td> Chỉnh sửa tài liệu</td>
                    <td align="center">	Hồ sơ</td>
                    <td align="right">
                        60,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.5
                    </td>

                    <td> Cân lại lô hàng</td>
                    <td align="center">
                        Lô
                    </td>
                    <td align="right">
                        140,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.6
                    </td>

                    <td> Sao lục chứng từ </td>

                    <td align="center"> AWB</td>
                    <td align="right">
                        60,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.7
                    </td>

                    <td> Phục vụ hàng lạc tuyến, hàng trả về, hàng chuyển tiếp</td>
                    <td align="center">
                        Lần
                    </td>
                    <td align="right">
                        280,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.8
                    </td>

                    <td> Yêu cầu hủy hàng </td>
                    <td align="center">
                        Lô
                    </td>
                    <td align="right">
                        280,000
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        3.9
                    </td>

                    <td> Dán nhãn lô hàng </td>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                    <td>
                        &nbsp;
                    </td>

                    <td> Giá phục vụ</td>
                    <td align="center">
                        Kiện
                    </td>
                    <td align="right">
                        2,180
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>&nbsp;</td>
                    <td>Giá tối thiểu</td>
                    <td align="center">Lần</td>
                    <td align="right">60,000</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>3.10</td>
                    <td>Dịch vụ cho thuê hộp thư tại TCS</td>
                    <td align="center">Hộp thư/ Tháng</td>
                    <td align="right">420,000</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>3.11</td>
                    <td>Giá hủy hồ sơ thủ tục</td>
                    <td align="center">Hồ sơ</td>
                    <td align="right">60,000</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>3.12</td>
                    <td colspan="3">Thu phí cung cấp video từ camera an ninh của TCS (CCTV)</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>&nbsp;</td>
                    <td colspan="3">
                        <p>- Giá áp dụng : 1,400,000 VND/lô hàng.</p>
                        <p>- Chình sách thu và hoàn phí : TCS thu ngay khi nhận yêu cầu của khách hàng và hoàn toàn bộ phí nếu TCS có lỗi trong quá trình khai thác.</p>
                        <p>- Đối tượng thu: Khách hàng có nhu cầu.</p>
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>3.13</td>
                    <td colspan="3">Dịch vụ chụp hình và gửi hình lô hàng theo yêu cầu</td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>&nbsp;</td>
                    <td colspan="3">
                        <p>- Giá áp dụng : 43,000 VND/vận đơn (vận đơn chính hoặc vận đơn phụ), tối đa 10 ảnh.</p>
                        <p>- Từ ảnh thứ 11: thu 10,000 VNĐ/ảnh.</p>
                        <p>- Các trường hợp không thu phí : </p>
                        <blockquote>
                            <p>* Dịch vụ hàng Vun xuất khẩu</p>
                            <p>* Xác định bất thường do lỗi  TCS</p>
                        </blockquote>
                        <p>- Đối tượng thu : Khách hàng có yêu cầu</p>
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>3.14</td>
                    <td colspan="3">Phục vụ bốc dỡ hàng hoá, gia cố bao bì, kiểm soát an toàn hàng hóa </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                    <td>&nbsp;</td>
                    <td colspan="3">
                        <p>- Đối tượng sử dụng : Tất cả các lô hàng Nhập khẩu chịu sự kiểm hoá của Hải quan.</p>
                        <p>- Nội dung: Phục vụ soi chiếu (đưa hàng vào ra máy soi Hải quan) gia cố bao bì (sau kiểm hoá), kiểm hoá đảm bảo an toàn hàng hoá đến lúc thông quan và bàn giao cho khách hàng.</p>
                        <p>- Hướng dẫn sử dụng dịch vụ: Quý khách vui lòng thông báo về tình trạng hàng hoá nếu chịu sự kiểm hoá của Hải quan hoặc cung cấp tờ khai hải quan khi làm thủ tục nhập hàng.</p>
                        <p>- Giá dịch vụ: 400 đồng trên ký, Giá tối thiểu : 50.000 đồng/lần.</p>
                    </td>
                </tr>
                <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">

                    <td colspan="4">
                        <strong>GHI CHÚ : </strong>Mức thu trên chưa bao gồm
                        thuế giá trị gia tăng
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    </TABLE>



