
@{
    ViewBag.Title = "View_body_banggia2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="awb_title"> BẢNG GIÁ ÁP DỤNG HIỆN HÀNH</td>
        </tr>
        <tr>
            <td class="awb_title">TẠI CÔNG TY TNHH DỊCH VỤ HÀNG HÓA TSN</td>
        </tr>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table class="price" width="34%" border="0" align="right" cellpadding="2" cellspacing="0">
                    <tr>
                        <td width="9%">
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td width="91%">
                            <a href="/AWB/View_body_banggia1">
                                GIÁ
                                LƯU KHO
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td><strong>GIÁ PHỤC VỤ</strong> </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td><a href="/AWB/View_body_banggia4">PHỤ THU GIÁ LAO VỤ NGOÀI GIỜ</a> </td>
                    </tr>
                    <tr>
                        <td><img src="../images/arroww.gif" alt="" width="11" height="11"></td>
                        <td>
                            <a href="/AWB/View_body_banggia3">
                                GIÁ
                                CÁC LỌAI DỊCH VỤ KHÁC
                            </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top"></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="100%" class="tbl02">
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td width="4%" align="center" class="title">STT</td>
                        <td width="74%" align="center" class="title">NỘI DUNG CÁC KHOẢN THU</td>
                        <td width="10%" align="center" class="title">ĐƠN VỊ TÍNH</td>
                        <td width="12%" align="center" class="title">MỨC THU (VND)</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2. </td>
                        <td><strong>GIÁ LAO VỤ</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.1 </td>
                        <td><strong>Giá lao vụ hàng hoá thông thường</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>2.1.1 </td>
                        <td> Hàng xuất khẩu</td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                760<? //echo number_format($row_exp['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu - Hàng xuất khẩu</td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                99,000<? //echo number_format($row_exp['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>2.1.2</td>
                        <td><strong>Hàng quá cảnh phải đổi không vận đơn (MAWB)</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>Áp dụng theo giá các loại hàng hóa xuất khẩu như sau:</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>1. Hàng hóa thông thường xuất khẩu</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Đơn giá </blockquote></td>
                        <td align="center">VND/kg</td>
                        <td align="right">760</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Giá tối thiểu</blockquote></td>
                        <td align="center">VND/lần</td>
                        <td align="right">99.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>2. Hàng quý hiếm xuất khẩu ( VAL)</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Đơn giá </blockquote></td>
                        <td align="center">VND/kg</td>
                        <td align="right">5.250</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Giá tối thiểu</blockquote></td>
                        <td align="center">VND/lần</td>
                        <td align="right">1.000.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>3. Hàng động vật sống xuất khẩu</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Đơn giá </blockquote></td>
                        <td align="center">VND/kg</td>
                        <td align="right">950</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Giá tối thiểu</blockquote></td>
                        <td align="center">VND/lần</td>
                        <td align="right">250.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>4. Hàng có giá trị cao ( VUN ) xuất khẩu</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Đơn giá </blockquote></td>
                        <td align="center">VND/kg</td>
                        <td align="right">850</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Giá tối thiểu</blockquote></td>
                        <td align="center">VND/lần</td>
                        <td align="right">200.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>5. Hàng nguy hiểm xuất khẩu</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Đơn giá </blockquote></td>
                        <td align="center">VND/kg</td>
                        <td align="right">1.440</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td><blockquote>- Giá tối thiểu</blockquote></td>
                        <td align="center">VND/lần</td>
                        <td align="right">150.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>
                            &nbsp;
                        </td>
                        <td>6. Quan tài hàng xuất</td>
                        <td align="center">VND/lần</td>
                        <td align="right">700.000</td>
                    </tr>
                    
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.1.3</td>
                        <td><strong>Hàng nhập khẩu </strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">5.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">3.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300,000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 6 - 9 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">2.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 9 - 12 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">1.800</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng sau 12 giờ sau khi máy bay đáp.</td>
                        <td align="center">Kg</td>
                        <td align="right">1.120</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">150.000</td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp;</td>
                        <td>
                            * Quý khách hàng có nhu cầu, có thể đăng ký trước để được giao hàng trong những khoảng thời gian nêu trên

                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>2.2</td>
                        <td><strong>Giá lao vụ hàng hóa đặc biệt</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.1</td>
                        <td><strong>Phát chuyển nhanh</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">5.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">3.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu.</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng sau 6 giờ sau khi máy bay đáp.</td>
                        <td align="center">Kg</td>
                        <td align="right">2.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">150.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.2</td>
                        <td><strong>Hàng dễ hư hỏng</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 1,5 - 3 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">5.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 3 - 6 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">3.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 6 - 9 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">2.500</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng từ 9 - 12 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">1.800</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">300.000</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giao hàng  sau 12 giờ sau khi máy bay đáp</td>
                        <td align="center">Kg</td>
                        <td align="right">1.250</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>- Giá giao hàng tối thiểu</td>
                        <td align="center">Lần</td>
                        <td align="right">150.000</td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.3</td>
                        <td><strong>Hàng quý hiếm</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng xuất </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                5,250
                                <? //echo number_format($row_exp['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                1,000,000
                                <? //echo number_format($row_exp['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng nhập </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                5,250<?echo number_format($row['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                1,000,000<? //echo number_format($row['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.4</td>
                        <td><strong>Hàng động vật sống</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng xuất </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                950
                                <? //echo number_format($row_exp['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                250,000<?echo number_format($row_exp['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng nhập </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                2,500
                                <? //echo number_format($row['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                250,000<? //echo number_format($row['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.5</td>
                        <td><strong>Hàng có giá trị cao (VUN)</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng xuất </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                850
                                <? //echo number_format($row_exp['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                200,000
                                <? //echo number_format($row_exp['min_value'],0);?>
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 2.2.6</td>
                        <td><strong>Hàng nguy hiểm (DGR)</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng xuất </td>
                        <td> <div align="center"> Kg </div></td>
                        <td>
                            <div align="right">
                                1,440
                                <? //echo number_format($row_exp['kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                150,000
                                <? //echo number_format($row_exp['min_value'],0);?>
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>
                            2.2.7
                        </td>
                        <td>
                            <strong>Quan tài</strong>
                        </td>
                        <td>
                            <div align="center">
                            </div>
                        </td>
                        <td>
                            <div align="right">
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng xuất </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                700,000<? //echo number_format($row['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Hàng nhập </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                1,250,000<? //echo number_format($row['min_value'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td colspan="3">- Nếu phục vụ ngoài giờ theo thời gian quy định tại mục &quot;<strong>Chính sách phụ thu giá lao vụ ngoài giờ</strong>&quot; thì sẽ được tính phụ thu theo quy định &quot;<strong>Chính sách phụ thu giá lao vụ ngoài gi</strong>ờ&quot; tham khảo tại mục &quot;<strong> Phụ thu giá lao vụ ngoài giờ</strong>&quot;.</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>



