
@{
    ViewBag.Title = "View_Body_BangGia1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="awb_title"> BẢNG GIÁ ÁP DỤNG HIỆN HÀNH</td>
        </tr>
        <tr>
            <td class="awb_title">TẠI CÔNG TY TNHH DỊCH VỤ HÀNG HÓA TSN</td>
        </tr>

        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <table class="price" width="36%" border="0" align="right" cellpadding="2" cellspacing="0">
                    <tr>
                        <td width="9%">
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>
                        <td width="91%">
                            <strong>GIÁ LƯU KHO</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td><a href="/AWB/View_body_banggia2">GIÁ PHỤC VỤ</a></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td><a href="/AWB/View_body_banggia4">PHỤ THU GIÁ LAO VỤ NGOÀI GIỜ</a> </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/arroww.gif" width="11" height="11">
                        </td>

                        <td>
                            <a href="/AWB/View_body_banggia3">
                                GIÁ
                                CÁC LỌAI DỊCH VỤ KHÁC
                            </a>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td valign="top"></td>
        </tr>
        <tr>
            <td>
                <table width="100%" class="tbl02">
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td width="3%" align="center" class="title">STT</td>
                        <td width="75%" align="center" class="title">NỘI DUNG CÁC KHOẢN THU</td>
                        <td width="10%" align="center" class="title">ĐƠN VỊ TÍNH</td>
                        <td width="12%" align="center" class="title">MỨC THU (VND)</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td><strong>GIÁ PHỤC VỤ ĐẠI LÝ VÀ KHÁCH HÀNG</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1 </td>
                        <td><strong>GIÁ LƯU KHO</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.1 </td>
                        <td><strong>Giá lưu kho hàng thông thường hàng nhập khẩu</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Không tính lưu kho 2 ngày đầu, ngày chủ nhật, ngày lễ và ngày phát
                            hàng
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td class="tbl01">+ Từ ngày thứ 1 đến ngày thứ 3</td>
                        <td class="tbl01">&nbsp;</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td class="tbl01">- Lô hàng nhỏ hơn hoặc bằng 250kg</td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">1.330</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td class="tbl01">- Lô hàng lớn hơn 250kg</td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td align="left" class="tbl01">
                            <blockquote>
                                <p>* 250 kg đầu</p>
                            </blockquote>
                        </td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">1.330</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td class="tbl01"><blockquote>* Trọng lượng ngoài 250 kg đầu ngày thứ 1</blockquote></td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">560</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td class="tbl01"><blockquote>* Trọng lượng ngoài 250 kg đầu ngày thứ 2</blockquote></td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">600</td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td height="33">&nbsp;</td>
                        <td class="tbl01"><blockquote>* Trọng lượng ngoài 250 kg đầu ngày thứ 3</blockquote></td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">900</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td height="33">&nbsp;</td>
                        <td class="tbl01">+ Từ ngày thứ 4 đến ngày thứ 7 </td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">1.110</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td height="33">&nbsp;</td>
                        <td class="tbl01">+ Từ ngày thứ 8 trở đi</td>
                        <td class="tbl01">VND/kg/ngày</td>
                        <td align="right" class="tbl01">1.450</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td height="33">&nbsp;</td>
                        <td class="tbl01">Gi&#225; l&#432;u kho t&#7889;i thi&#7875;u</td>
                        <td class="tbl01"><div align="center">VND/lần</div></td>
                        <td align="right" class="tbl01"><div align="right">150.000</div></td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.2 </td>
                        <td><strong>Giá lưu kho hàng thông thường hàng xuất khẩu </strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Không tính lưu kho 2 ngày trước ngày giữ chỗ chuyến bay (kể cả
                            ngày tiếp nhận) và ngày hàng được giữ chỗ chuyến bay
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Không tính lưu kho ngày chủ nhật, ngày lễ</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Từ ngày thứ
                            1
                            đến ngày thứ
                            2
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Lô hàng nhỏ hơn hoặc bằng
                            200
                            kg
                        </td>
                        <td>
                            <div align="center">
                                Kg
                            </div>
                        </td>
                        <td>
                            <div align="right">
                                1,160

                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Lô hàng lớn hơn
                            200
                            kg
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;.
                            200
                            kg đầu
                        </td>
                        <td>
                            <div align="center">
                                Kg
                            </div>
                        </td>
                        <td>
                            <div align="right">
                                1,160

                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            &nbsp;&nbsp;&nbsp;. Trọng lượng ngoài
                            200
                            kg đầu
                        </td>
                        <td>
                            <div align="center">
                                Kg

                            </div>
                        </td>
                        <td>
                            <div align="right">
                                560
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            - Từ ngày thứ
                            3
                            đến ngày thứ
                            6
                        </td>
                        <td>
                            <div align="center">
                                Kg/ngày

                            </div>
                        </td>
                        <td>
                            <div align="right">
                                725

                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp;</td>
                        <td>
                            - Từ ngày thứ
                            7

                            đến ngày thứ
                            9999
                        </td>
                        <td>
                            <div align="center">
                                Kg/ngày

                            </div>
                        </td>
                        <td>
                            <div align="right">
                                1,160<
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> - Giá lưu kho tối thiểu </td>
                        <td> <div align="center"> Lần </div></td>
                        <td>
                            <div align="right">
                                99.000
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3 </td>
                        <td><strong>Giá lưu kho loại hàng đặc biệt&nbsp;</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3.1</td>
                        <td><strong>Hàng quý hiếm ( VAL)</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Không miễn lưu kho từ lúc tiếp nhận hoặc từ khi máy
                            bay đáp
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Không miễn lưu kho ngày chủ nhật, ngày lễ và ngày phát hàng </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho</td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                5,500<?echo number_format($row['day_kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá tối thiểu</td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                900,000<?echo number_format($row['day_min_price'],0);?>
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3.2</td>
                        <td><strong>Hàng chứa trong kho lạnh</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Không miễn lưu kho kể từ khi hàng được yêu cầu để kho lạnh</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày (24 giờ/ngày) </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho đối với hàng nhập khẩu</td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                1,450
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho đối với hàng xuất khẩu</td>
                        <td> <div align="center"> Kg/ngày </div></td>

                        <td>
                            <div align="right">
                                1,450

                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho tối thiểu </td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                220,000
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3.3</td>
                        <td><strong>Hàng động vật sống</strong> </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Đối với hàng nhập khẩu: không miễn lưu kho cho ngày chuyến bay
                            đến, không miễn lưu kho vào ngày chủ nhật, ngày lễ và hàng phát hàng.&nbsp;
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Ðối với hàng xuất khẩu: không tính lưu kho cho ngày tiếp nhận hàng,
                            ngày chủ nhật, ngày lễ và ngày hàng hoá được giữ chỗ chuyến bay
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho</td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                1,100
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho tối thiểu</td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                500,000
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3.4</td>
                        <td><strong> Hàng vũ khí, chất nổ</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Ðối với hàng nhập khẩu: không miễn lưu kho cho ngày hàng đến, không
                            miễn lưu kho vào ngày chủ nhật, ngày lễ và ngày phát hàng
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Ðối với hàng xuất khẩu: không miễn lưu kho cho ngày tiếp nhận hàng,
                            ngày chủ nhật, ngày lễ và ngày hàng hoá được giữ chỗ chuyến bay
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho </td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                3,600
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho tối thiểu </td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                600,000
                            </div>
                        </td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td> 1.3.5</td>
                        <td><strong>Hàng nguy hiểm</strong></td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Ðối với hàng nhập khẩu: không miễn lưu kho cho ngày hàng đến, không
                            miễn lưu kho vào ngày chủ nhật, ngày lễ và ngày phát hàng .
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td>
                            Ðối với hàng xuất khẩu: không miễn lưu kho cho ngày tiếp nhận hàng,
                            ngày chủ nhật, ngày lễ và ngày hàng hoá được giữ chỗ chuyến bay .
                        </td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch.</td>
                        <td>&nbsp; </td>
                        <td>&nbsp; </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho .</td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                1,820<?echo number_format($row['day_kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho tối thiểu .</td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                150,000
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td> 1.3.6</td>
                        <td><strong>Hàng có giá trị cao (VUN)</strong></td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td>
                            <p>
                                + Ðối với hàng xuất khẩu: không miễn lưu kho cho ngày tiếp nhận hàng và ngày
                                hàng hoá được giữ chỗ chuyến bay, không miễn lưu kho ngày chủ nhật, ngày
                                lễ, Tết.
                            </p>
                            <p>
                                + Ðối với hàng nhập khẩu: không miễn lưu kho cho ngày hàng đến, không miễn lưu kho ngày chủ nhật, ngày
                                lễ, Tết và ngày phát hàng.
                            </p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF" class="tbl01">
                        <td>&nbsp;</td>
                        <td> Tiền lưu kho sẽ được tính theo ngày dương lịch</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>

                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho .</td>
                        <td> <div align="center"> Kg/ngày </div></td>
                        <td>
                            <div align="right">
                                1,390<?echo number_format($row['day_kg_price'],0);?>
                            </div>
                        </td>
                    </tr>
                    <tr bordercolor="#FFFFFF" bgcolor="#FFFFFF">
                        <td>&nbsp; </td>
                        <td> Giá lưu kho tối thiểu .</td>
                        <td> <div align="center"> Ngày</div></td>
                        <td>
                            <div align="right">
                                150,000
                            </div>
                        </td>
                    </tr>


                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="right"><a href="#" class="btn marginT0"><span>Back to top</span></a></div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

