@using HCSV.Core
@model List<HCSV.Models.ViewModels.Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="col-lg-3 mt-10">
                <div class="single-property">
                    <div class="desc">
                        <div class="sitemap">
                            <ul>
                                <li class="title"><a href="@item.Url">@item.Name</a></li>
                                @if (item.HasChildren)
                                {
                                    foreach (var childItem in item.Childrens)
                                    {
                                        <li><a href="@childItem.Url">@childItem.Name</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>

