@{
    ViewBag.Title = "Business Model";
    ViewBag.Page = "BusinessModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .ul {
        list-style: inherit;
        margin-top: 5px;
        line-height: 25px;
        padding-left: 40px;
    }

        .ul li {
            padding-left: 10px;
        }
</style>
<div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER" id="PAGES_CONTAINER" data-state="" class="s8" style="top: 54px; width: 980px; height: 1675px; position: absolute; left: 0px;">
    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.0" class="s8screenWidthBackground" id="PAGES_CONTAINERscreenWidthBackground" style="width: 1349px; left: -185px;">
    </div>
    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1" class="s8centeredContent" id="PAGES_CONTAINERcenteredContent">
        <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.0" class="s8bg" id="PAGES_CONTAINERbg">
        </div>
        <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1" class="s8inlineContent" id="PAGES_CONTAINERinlineContent">
            <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES" id="SITE_PAGES" class="s9" style="top: 0px; left: 0px; width: 980px; height: 500px; position: absolute;">
                <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c20z8" id="c20z8" class="s11" style="top: 0px; left: 0px; width: 980px; height: 1491px; position: absolute; display: none;">
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c20z8.0" class="s11bg" id="c20z8bg">
                    </div>
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c20z8.1" class="s11inlineContent" id="c20z8inlineContent">
                    </div>
                </div>
                <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1df1" id="c1df1" class="s18" style="top: 0px; left: 0px; width: 980px; height: 711px; position: absolute; visibility: hidden; display: none;">
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1df1.0" class="s18bg" id="c1df1bg">
                    </div>
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c1df1.1" class="s18inlineContent" id="c1df1inlineContent">
                    </div>
                </div>
                <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn" id="c3vn" class="s18" style="top: 0px; left: 0px; width: 980px; height: 500px; position: absolute;">
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn.0" class="s18bg" id="c3vnbg">
                    </div>
                    <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn.1" class="s18inlineContent" id="c3vninlineContent">
                        <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn.1.$WRchTxtx" id="WRchTxtx" class="s4" style="top: 39px; left: 24px; width: 925px; position: absolute;">
                            <h2 class="font_2" style="line-height: 1.4em;">
                                <span style="line-height: 1.4em;">Business Model</span>
                            </h2>
                        </div>
                        <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn.1.$FvGrdLnc" id="FvGrdLnc" class="s12" style="top:75px;bottom:;left:25px;right:;width:920px;height:5px;position:absolute;">
                            <div data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$c3vn.1.$FvGrdLnc.0" class="s12line" id="FvGrdLncline">
                                <!--1.Project Base-->
                                <div>
                                    <h4 style="margin: 10px 0 5px 0; text-decoration: underline">1. Project-Base</h4>
                                    <div style="line-height:25px">
                                        Project-base is a contract model in which we will build our implementation team based on <b>project size</b>, then moving to development phase.
                                        Project-base contract model is generally used for projects with:
                                    </div>
                                    <ul class="ul">
                                        <li>Clear requirements, scope of work and parameters.</li>
                                        <li>Short timeframe</li>
                                        <li>The belief of the customers.</li>
                                        <li>Project size is around 3~5 man-month</li>
                                        <li>Reasonable price (30% off)</li>
                                    </ul>
                                    <div class="img">
                                        <img style="width:100%;margin: 30px 0 15px;" src="~/imgs/BusinessModel/1.PNG" />
                                    </div>
                                </div>
                                <!--2. Time & Materials (T&M)-->
                                <div>
                                    <h4 style="margin: 10px 0 5px 0; text-decoration: underline">2. Time & Materials (T&M)</h4>
                                    <div style="line-height:25px">
                                        T&M is a contract model in which our development contract will base on <b>the time</b> our employees spent on performing the work of the project, and <b>the materials</b> used for project (for example: hardware), no matter how much work is required to complete project. In general, it requires a charge by <b>month</b> depending on implementation duration.
                                        <br />
                                        T&M contract model is generally used in projects in which:
                                    </div>
                                    <ul class="ul">
                                        <li>Complicated, not possible to accurately estimate the size.</li>
                                        <li>Project requirements can be changed.</li>
                                        <li>Only required skillsets of employees, and detail scope of work is not necessary.</li>
                                    </ul>
                                    <div class="img">
                                        <img style="width: 100%; margin: 30px 0 15px;" src="~/imgs/BusinessModel/2.PNG" />
                                    </div>
                                </div>
                                <!--3. Offshore Development Center (ODC)-->
                                <div>
                                    <h4 style="margin: 10px 0 5px 0; text-decoration: underline">3. Offshore Development Center (ODC)</h4>
                                    <div style="line-height:25px">
                                        HCS Vietnam Co.Ltd., is now also applying a special business model call “ODC” that uses processes, tools, and technologies customized for each customer’s specific needs. This model is required workload in a fixed interval
                                        <br />
                                        ODC development method is really efficient for the companies in which:
                                    </div>
                                    <ul class="ul">
                                        <li>Having many periodical projects, leading to the needs of human resource allocation.</li>
                                        <li>Enhancing development line in an interval</li>
                                        <li>Having long-term projects like maintenance, software development…</li>
                                    </ul>
                                    <div style="line-height:25px;">
                                        The advantages of ODC model is that we can always have development teams with strong skillsets and low prices, delivering a final solution that meets or exceeds the client’s expectations on time.
                                    </div>
                                    <div class="img">
                                        <img style="width: 100%; margin: 30px 0 15px;" src="~/imgs/BusinessModel/3.PNG" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
