@model HCSV.Models.jos_content

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumb">
                    <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                </div>
                <a href="single-blog.html"><h4>Portable Fashion for women</h4></a>
                <div class="text-wrap">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                </div>
                <div class="meta-bottom d-flex float-right">
                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumb">
                    <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s2.jpg" alt="">
                </div>
                <a href="single-blog.html"><h4>Summer ware are coming</h4></a>
                <div class="text-wrap">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                </div>
                <div class="meta-bottom d-flex float-right">
                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="thumb">
                    <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s3.jpg" alt="">
                </div>
                <a href="single-blog.html"><h4>Summer ware are coming</h4></a>
                <div class="text-wrap">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud.
                    </p>
                </div>
                <div class="meta-bottom d-flex float-right">
                    <a href="single-blog.html" class="white_bg_btn">View More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>
<section class="blog-area mt-30">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">TIN DÀNH CHO KHÁCH HÀNG</h3>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">TCS tái ký hợp đồng thành công với Malaysia Airlines và Jetstar Asia Airways</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">Thông báo: không thu phụ phí ngoài giờ các loại hàng nhập vào ngày chủ nhật</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">Thông báo: không thu phụ phí ngoài giờ ngày chủ nhật từ 11/12/2016 đến 28/02/2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">TIN TCS</h3>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12">
                <h3 class="mt-30">TIN CHUYÊN NGÀNH</h3>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="thumb">
                                <img class="img-fluid" src="https://colorlib.com/preview/theme/holmes/img/s1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-7 mt-sm-20">
                            <a href="#">THÔNG BÁO LỊCH NGHỈ TẾT DƯƠNG 2017</a>
                            <div class="meta-bottom d-flex">
                                <p><span class="lnr lnr-calendar-full"></span> 13th Dec</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
