<!-- Start Header Area -->
<header class="default-header">
    <div class="menutop-wrap">
        <div class="menu-top container">
            <div class="d-flex justify-content-end align-items-center">
                <ul class="list">
                    <li><a href="#">Hotline: (02-8) 38 486 489</a></li>
                    <li><a href="#">Email: tracing@tcs.com.vn</a></li>
                    <li><a href="#">login / register</a></li>
                </ul>
            </div>
        </div>
    </div>

    @Html.Action("TopMenu", "Menu")
</header>
