@model IEnumerable<HCSV.Models.jos_links>

@if (Model != null && Model.Any())
{
    <div id="scroller_container">
        <div class="jscroller2_left jscroller2_speed-50" style="">
            @foreach (var item in Model)
            {
                <a href="@Html.Raw(item.link)" target="_blank" class="logo_link_css_1">
                    @Html.Raw(item.image)
                </a>
            }
        </div>
    </div>
}
