@model HCSV.Business.Models.ContentModel<HCSV.Models.jos_content>
@{
    ViewBag.Title = HttpContext.Current.Application[HCSV.Core.Constants.Page.PAGE_TITLE];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="position-inherit">
    <div class="container">
        <div class="row">
            <div class="col-md-3 scrolltofixed-container">
                <div class="list-group scrolltofixed z-index-0" style="z-index: auto; position: static; top: auto;">
                    @if (Model != null && Model.ListValues != null && Model.ListValues.Any())
                    {
                        int i = 0;
                        foreach (var item in Model.ListValues)
                        {
                            i++;
                            <a href="#section-@i" class="list-group-item smooth-scroll-to-target">@item.title</a>
                        }
                    }
                </div>
                <div style="display: none; width: 262.5px; height: 290px; float: none;"></div>
            </div>
            <div class="col-md-9">
                @if (Model != null && Model.ListValues != null && Model.ListValues.Any())
                {
                    int i = 0;
                    foreach (var item in Model.ListValues)
                    {
                        i++;
                        <div id="section-@i" class="mb-50">
                            <h3>@item.title</h3>
                            <hr>
                            <div class="mb-20">
                                @Html.Raw(item.introtext)
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

