@charset "utf-8";
* {margin:0 auto; padding:0; outline:none; line-height:17px;}
body {margin:0; padding:0; z-index:1; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#464646; line-height:20px;}
a {text-decoration:none; color:#0076a7; font-size:12px;}
a:hover {text-decoration:none; color:#fb4312;}
a.link {color:#0076a7; font-size:12px; /*font-weight:bold;*/ line-height:18px; text-decoration:none;}
a:hover.link {color:#f13636;}
a img {border:none; text-decoration:none;}
h1 {color:#FFF; font-size:16px; font-weight:normal; background:#f9a61a; display:block; padding:3px 10px; margin:0 0 1px 0;}
h2 {color:#ffa401; font-size:22px; font-weight:bold; margin:10px 0;}

.home_news h3 span {color:#000; font-size:12px; font-weight:bold; background:#f9a61a; padding:3px 10px; margin:0;}
h4 {}
h5 {color:#fb4312; font-size:16px; font-weightold; margin:15px 0px 5px 0px; text-transform:uppercase; text-align:center;}
p {padding:0 0 5px 0;}
img {border:none;}
input[type=text] {border:1px solid #c2c2c2; padding:2px;}
.left {float:left;}
.right {float:right; height:0; margin:0; padding:0;}
.clear {clear:both;}
.quangcao img{text-align:right; width:760px; height:180px;}
.txt_org {color:#fb4312;}
.txt_note {color:#0f6700; font-weight:bold;}
.txt_uppercase {text-transform:uppercase; font-weight:bold; color:#000; background:#e2f2ff;}
.txt_red {color:#f00000;}
.content_list {}
.content_list ol {}
.content_list ol li {list-style-type:upper-roman !important; font-weight:bold;}
.content_list ol li li {list-style-type:disc !important; font-weight:normal; margin-left:15px;} 
.content_list ol li li li{list-style-type:circle !important; font-weight:normal; margin-left:35px;}
.marginT5 {margin-top:5px;}
.marginT10 {margin-top:10px;}
.marginT20 {margin-top:20px;}
.marginL10 {margin-left:10px;}
.marginL20 {margin-left:20px;}
.wrap {width:1138px; margin:0px auto; position:relative;}
.header {width:1138px; padding:5px 0px 5px;}
	.header .logo {float:left; width:250px; }
	.header .logos {text-align:right;}
	.header .logos a {margin:0px 0px 0px 25px;}
	.home {position:absolute; top:10px; right:260px;}
	.header ul {list-style-type:none; float:left; padding:20px 0 0 15px; *padding:25px 0 0 10px; z-index:10; margin:0;}
.flag {position:absolute; top:66px; right:0px; z-index:8; border-bottom:5px solid #FAA61A; width:145px; text-align:right; dislay:none;}
.container_home {width:1000px; position:relative;}
.content_left {float:left; width:250px; margin:0 15px 0 0;}
	.content_left_bg {background:url(../images/pattern01.gif) repeat-x top left; padding:5px 10px; width:230px;}
	.hotline {background:url(../images/hotline.gif) no-repeat top left; margin:15px 0; padding:0 0 0 35px; color:#115f9c; font-size:24px; line-height:30px; display:block;}
.content_right {width:730px; float:right;min-height: 430px;}
	.home_banner {margin:0 0 15px 0;}
		.home_banner .neoslideshow {float:left; margin:0 15px 0 0;}
		.neoslideshow {position:relative; z-index:2;}
		.neoslideshow img {position:absolute;left:0; top:0;}
		.home_banner_content {border-top:1px solid #e7e7e7; padding:0px 0 0 0; }
		.home_news {float:left; width:360px;}
		.home_news h3 {margin:2px 0 3px 0;}
		.home_news ul {margin:0 10px;}
		.home_news_bg {background:url(../images/pattern02.gif) repeat-x 0 1px; width:360px;}
	.links {float:right;}
	.links ul {list-style-type:none;}
	.links li {}
	.links li a {background:url(../images/bullet.gif) no-repeat 0px 5px; padding-left:10px; color:#0076a7; font-size:12px; line-height:20px;}
	.links li a:hover {background:url(../images/bullet_02.gif) no-repeat 0px 5px; color:#FB4312;}
	
.search_img  {background:url(../images/search.png) no-repeat 3px 150px; width:20px; height:20px; display:block-inline; text-indent:-999px;}
/*****************************************************************************************************
	//doan thay doi thogn tin trang chu-Thu
	.home_banner_content {border-top:1px solid #e7e7e7; padding:10px 0 0 0; width:325px; float:right;}
	Navigation inner
******************************************************************************************************/
.nav {width:250px; float:left;}
.nav ul, .nav li {list-style-type:none;}
.nav li a {color:#131313; padding:0 0 0 15px; margin:0; background:url(../images/bg_nav2.gif) no-repeat top left; font-size:12px; font-weight:bold; text-align:left; display:block; line-height:25px; height:24px;}
.nav li a:hover {color:#000; background:#fb8b01 url(../images/bg_nav2.gif) no-repeat top right;}
.nav li.active a {color:#FFF; background:#fb8b01 url(../images/bg_nav2.gif) no-repeat top right;}
/*****************************************************************************************************
	Content inner
******************************************************************************************************/
.inner_container {width:1000px; margin:0 0 0px; padding:0 0 20px;}
.inner_banner 
{
    width: 2049px;
    height:388px;
    margin: 0 auto;
}
.ListNew{margin-left:270px; margin-top:5px; margin-right:20px;}
.inner_sitemmap{width:1000px; height:100px;}
.inner_content {text-align:left; width:730px;}
	#Breadcrumbs {background:#c4c4c4; height:22px; display:block; padding:0 10px;}
	#Breadcrumbs a {color:#4b4b4b; line-height:22px; margin:0; padding:0;}
	#Breadcrumbs p {color:#000; line-height:22px; margin:0; padding:0;}
	#Breadcrumbs a:hover {text-decoration:underline;}
.templ_img_text {padding:0 20px 0 0;}
	.templ_img_text .news_heading_img  {float:left; margin:5px 15px 10px 0px;}
	.signature {text-align:center; font-weight:bold; width:220px; float:right; margin-top:20px;}
.templ_img_line_text {margin:10px 0; border-top:1px dotted #999; padding:5px 0 0;}
	.templ_img_line_text img {float:left; margin:5px 25px 10px 0px;}
	.templ_img_line_text div {/* trangdt margin:0 0 0 150px;*/}
.templ_news {}
	/*.news_part {float:left; width:500px; padding:0 20px 0 0;}*/
	.news_part {padding:0 0px 0 0;}
	.news_item {/*border-bottom:1px dotted #333;*/ padding:5px 0px 10px; display:block;}
	.news_item img {float:left; margin:5px 15px 0px 0px;}
	.news_item p {margin:2px 0 0 0;}
	.news_list {margin:0 0 0 0; width:220px; float:right;}
	.news_list div {padding:5px; margin:0 0 5px 0; background:url(../images/pattern02.gif) repeat-x 0 0;}
	.hotnews_listt {margin:0 0 0 15px; float:left;widtth:400px}
	.news_time{
        color:#000; font-size:11px; font-weight:normal;
	}
.linking 
{
    border: 1px solid #cccccc;
    padding: 9px 19px;
    float: left;
    width: 223px;
    text-align: center;
    height: 102px;
    margin: 0 20px 20px 0;
}
.linking a.title{text-align:left; display:block; margin:0px 0px 13px 0px;}
	.linking h3 {text-align:left; padding:0px 10px; margin:0px 0px 5px; border:1px solid #d9d9d9;}
	.linking p {text-align:left; padding-left:0px;}
/*	.linking {text-align:left;}
	.linking_title {float:left; width:200px;}
	.linking_title a {font-weight:bold;}
	.linking_title img {margin:20px 0 0 0;}
	.linking_content {float:left; border-left:1px solid #f1f1f1; padding:0 0 0 15px;}
	.linking_content span {font-weight:bold;}
*/
.tooltip {display:none; background:url(../images/black_arrow.png) no-repeat left top; width:230px; z-index:100; padding:5px 0 0 0; margin-bottom:10px;}
.tooltip table {background:url(../images/black_arrow_span.png) no-repeat left bottom; font-size:12px; width:230px; padding:0 0 5px 0; color:#535353;}
.tooltip table td {padding:0 5px 2px 8px;}
.marquee {position:relative; overflow:hidden; width:1000px;}
	.marquee img {margin-right:20px; padding:5px 0px; vertical-align:middle;}
/*****************************************************************************************************
	Search Accordion
******************************************************************************************************/
#search_accordion .pane {display:none;}
#search_accordion h2 {margin:10px 0 0 0; cursor:pointer; color:#125e9a; font-size:12px; font-weight:normal; border-bottom:1px solid #d7dee4; background:url(../images/bullet.png) no-repeat right -45px;}
#search_accordion h2.current {margin:10px 0 0 0; color:#FB4312; font-size:12px; font-weight:normal; border-bottom:1px solid #d7dee4; background:url(../images/bullet.png) no-repeat right 5px;}
#search_accordion .pane {font-size:11px; color:#333;}
/*****************************************************************************************************
	Table
******************************************************************************************************/
.tbl01 {border-collapse:collapse;}
.tbl01 td {border-bottom:1px solid #CACACA; padding:3px 0px;}
.tbl01 td p {}
.tbl01 td.title {font-weight:bold; border-bottom:1px solid #999999;}
.tbl02 {border-collapse:collapse;}
.tbl02 td {padding:3px 5px; border:1px solid #aaa;}
.tbl02 .title {background:#ededed; color:#000; font-weight:bold;}
.tbl02_noborder td {border:none; padding:0px;}
.tbl02 img {vertical-align:text-top;}
.bdr {border:1px solid #cacaca; padding:10px; clear:both;}
/*****************************************************************************************************
	Button
******************************************************************************************************/
a.btn {background:url(../images/bg_btn_a.gif) no-repeat right 0px; padding:0px 10px 0px 0px; height:22px; line-height:20px; display:inline-block;}
a.btn span {background:url(../images/bg_btn_span.gif) no-repeat left 0px; color:#FFF; text-decoration:none; height:22px; font-size:12px; font-weight:bold;text-decoration:none; line-height:20px; display:inline-block; padding:0px 0px 0px 10px; cursor:pointer;}
/* trandt coment fix bug on ie6
a:hover.btn {background:url(../images/bg_btn_a.gif) no-repeat right -22px;}
a:hover.btn span {background:url(../images/bg_btn_span.gif) no-repeat left -22px; text-decoration:none; color:#FFF;}

a:active.btn {background:url(../images/bg_btn_a.gif) no-repeat right -22px;}
a:active.btn span {background:url(../images/bg_btn_span.gif) no-repeat left -22px; text-decoration:none; color:#FFF;}
*/
/*****************************************************************************************************
	
******************************************************************************************************/
.ui_awb {}
.sitemap ul {list-style-type:none; width:210px;float:left; margin:7px 15px 0px 0px;}
.sitemap ul li.title a{color:#000; background:#ededed; border:1px solid #b6b6b6; font-size:12px; font-weight:bold; padding:0px 8px; line-height:22px; margin:0px; display:block;}
.sitemap ul li.title a:hover {background:#7b9fc1; border:1px solid #1c5183; color:#FFF;} 
.sitemap ul li a {padding:5px 0px 3px 8px; border-left:1px dotted #000; margin-left:0px; line-height:16px; display:block;}
.Q {color:#000; font-weight:bold; font-size:12px; margin:0 0 5px 0; padding:0 70px 0 50px; display:block;}
.Q span {color:#fb4312; font-size:12px; font-weight:bold; text-transform:uppercase; width:50px; margin-left:-50px; display:inline-block;}
.A {color:#535353; font-size:12px; margin:0 0 10px 0; padding:0 70px 0 50px; display:block;}
.A span {color:#ababab; font-size:12px; font-weight:bold; text-transform:uppercase; width:50px; margin-left:-50px; display:inline-block;}
.forum {border-bottom:1px dotted #cacaca; padding:5px 0px 10px; clear:both;}
.forum img {margin:5px 15px 0px 0px; float:left; width:80px;}
.forum p {}
/*****************************************************************************************************
	Footer
******************************************************************************************************/


	.footer p {font-size:11px; margin-left:10px; line-height:22px;}
	.footer img {margin:0px 10px;}
	.footer ul {list-style-type:none; float:right; margin-top:1px;}
		.footer li {float:left;}
		.footer li a {border-left:1px solid #333; padding:0px 10px; color:#333; font-size:11px; font-weight:bold;}
		.footer li a:hover {color:#006994;}
		.footer li.active a {color:#fb3601;}
		
/* trangdt add */
#Layout {min-height: 430px;}
#Navigation li.section > a {color:#FFF; no-repeat top right;}
#Navigation li.current > a {color:#0076a7; no-repeat top right;}
div .pagination {float:right; background:none;}
span.title {background:url(../images/bullet.gif) no-repeat 0px 5px; padding-left:10px; color:#0076a7; font-size:12px; font-weight:bold; line-height:18px; text-decoration:none;}
.nav li.current a {color:#FFF; background:#fb8b01 url(../images/bg_nav2.gif) no-repeat top right;}
input[type=password] {border:1px solid #c2c2c2; padding:2px;}
fieldset {border:0 none; font-size:1em;}
input.text, textarea, select {border:1px solid #c2c2c2; padding:2px;}
input.error {border:1px dotted red;}
#MemberLoginForm_LoginForm label {float:none;}
label.right {display:inline;}
p#Remember label {margin:-24px 0 0 20px; text-align:left; float:none;}
/*.scrollable{height:310px;}*/

/*tcs form format*/
.tcs_form label.left {width:60px; text-align:right; padding-right:4px;}
.tcs_form div.field {height:auto; padding-bottom:2px;}
.tcs_actions {margin:0px 0px 0px 60px;}
#MemberLoginForm_LostPasswordForm .tcs_actions {margin:0px 0px 0px 0px;}
.tcs_form #Form_Form_Captcha {margin-left:63px;}
.message.required, .message.bad, .message.error {background:none repeat scroll 0 0 #FFC1C1 !important; border:1px solid #FF8B8B !important; color:#CC0000;}
#subscribe_form input.text {width:195px;}
#MemberLoginForm_LoginForm input.text,#MemberLoginForm_LoginForm input.password {width:195px;}
form label.error {color:red; font-style:italic;}
label.error{text-decoration:{color:red}}
.home_error_message_box ul {list-style-type:none; margin-top:-2px;}
.home_error_message_box li {float:left;	text-decoration:none; padding-right:6px;}
#customer_errorBox ul {list-style-type:none;}
/* trangdt end */

.img_text img {margin:5px 10px 5px 0; float:left; width:380px;}
.img_quangcao_new img {margin:5px 5px 5px 0;width:226px; text-align:center}
.img_vun img {margin:5px 10px 5px 0; float:center;}
.img_text p {text-align:justify;}
.img_text #accordion {width:340px; float:right;}
.img_text #accordion ul, .img_text #accordion li {margin:0 0 0 10px; list-style-type:none;}
.img_text #accordion li {background:transparent url(../images/bullet_03.gif) no-repeat left 8px; padding:0 0 0 10px;}

#accordion {width:730px;}
#accordion h3 {width:100%;}
/*****************************************************************************************************
	Lien He
******************************************************************************************************/
.nav_contact {margin:10px 0;}
.nav_contact ul {list-style-type:none;}
	.nav_contact li, .nav_contact li li {background:transparent url(../images/bullet_01.gif) no-repeat left 8px; padding:2px 0 0 10px}
	.nav_contact li:hover, .nav_contact li li:hover {background:transparent url(../images/bullet_02.gif) no-repeat left 8px;}
	.nav_contact li a, .nav_contact li li a {color:#0076a7;}
	.nav_contact li a:hover, .nav_contact li li a:hover {color:#fb4312;}
	.nav_contact li.current, .nav_contact li li.current {background:transparent url(../images/bullet_02.gif) no-repeat left 8px;}
	.nav_contact li.current > a, .nav_contact li li.current > a {color:#fb4312 !important; font-weight:bold;}
.contact_detail {float:left; margin:15px 15px 0 0; width:210px;height: 141px;}
	.contact_detail .contact_title {background:#fbfbfb; border:1px solid #e4e4e4; padding:2px 5px; width:200px; color:#464646; font-weight:bold;}
	.contact_detail .contact_content {padding:5px 0 0 5px;}
.link_logo {text-align:center; margin:10px 0 0 0; border:1px solid #cecece; padding:10px;}
.link_logo img {margin:10px 0 0 0;}

/* trangdt add*/
#service_accordion div.pane  {
	padding: 5px 0px 10px 45px;
}
#accordion div {
	padding: 5px 0px 10px 30px;
}
#service_accordion div.pane ul {
	margin-left: 15px;
}
.c45 {
    float: left;
    margin: 3px 30px 0 0;
    padding: 0;
    width: 45%;
}
.container_home .content_left h1{
	background: none repeat scroll 0 0 #459ce1;
}
/* News Holder */
.news_part a.link {
    color: #0076A7;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
}
.news_part a:hover.link {color:#f13636;}
h1.news_title {color: #000000; font-size: 16px; font-weight: normal; background:none; padding:0;}
#search_accordion{
	/*min-height: 250px;*/
}
.content_right {
	min-height: 450px;
    margin-bottom: 20px;
}
/* trangdt end *//* Chi */
a.btnBack {background:transparent url(../images/bullet_back.gif) no-repeat left 0px; padding:1px 0 2px 18px; line-height:22px; cursor:pointer;font-weight:bold;}
a.btnBack:hover {background:transparent url(../images/bullet_back.gif) no-repeat left -50px;}

.paging ul {list-style-type:none;}
.paging li {float:left; padding:0 3px;}
.paging li a {color:#0066a8;}
.paging li a:hover, .paging li.current a {color:#fb8b01;}
.paging li.prev a {background:transparent url(../images/bullet_back.gif) no-repeat left 1px; width:16px; height:17px; text-indent:-9999px; display:inline-block;}
.paging li.prev a:hover {background:transparent url(../images/bullet_back.gif) no-repeat left -49px;}
.paging li.next a {background:transparent url(../images/bullet_next.gif) no-repeat left 1px; width:16px; height:17px; text-indent:-9999px; display:inline-block;}
.paging li.next a:hover {background:transparent url(../images/bullet_next.gif) no-repeat left -49px;}

.paging li.first a {background:transparent url(../images/bullet_first.gif) no-repeat left 1px; width:19px; height:17px; text-indent:-9999px; display:inline-block;}
.paging li.first a:hover {background:transparent url(../images/bullet_first.gif) no-repeat left -49px;}
.paging li.last a {background:transparent url(../images/bullet_last.gif) no-repeat left 1px; width:19px; height:17px; text-indent:-9999px; display:inline-block;}
.paging li.last a:hover {background:transparent url(../images/bullet_last.gif) no-repeat left -49px;}
.haiquan{ width:650px; text-align:center;}
