.jscroller2_up, .jscroller2_down, .jscroller2_left, .jscroller2_right {margin:0; padding:0;}
.jscroller2_left, .jscroller2_right, .jscroller2_left_endless, .jscroller2_right_endless {white-space:nowrap;}
.jscroller2_left_endless a {margin-right:20px; padding:5px 0px; vertical-align:middle;}
/* Scroller Box */
#scroller_container {height:30px; overflow:hidden; padding:5px 0;}
/*.jscroller2_left {width:9000px;}*/
.jscroller2_left a {margin-right:20px; padding:5px 0px; vertical-align:middle;}
/* Scoller Box */
/* CSS Hack Safari */
#dummy {;# }
#scroller_container {height:35px; overflow:hidden; margin:15px 0 0 0;}


