.tabs {list-style:none; padding:0; height:21px; margin-top:5px;}
.tabs li {float:left; list-style-type:none;}
.tabs li a {background:url(../images/bg_tab.png) no-repeat right 0px; display:inline-block; height:21px; padding:0px 10px 0px 0px; margin-right:2px; }
.tabs li a span {background:url(../images/bg_tab_span.png) no-repeat left 0px; font-size:12px; font-weight:bold; display:inline-block; height:21px; line-height:20px; text-decoration:none; color:#131313; padding:0px 0px 0px 10px; cursor:pointer;}
.tabs li a:hover {background:url(../images/bg_tab.png) no-repeat right 0px; display:inline-block; height:21px; padding:0px 10px 0px 0px; margin-right:2px; }
.tabs li a:hover span {background:url(../images/bg_tab_span.png) no-repeat left 0px; font-size:12px; font-weight:bold; display:inline-block; height:21px; line-height:20px; text-decoration:none; color:#0076a7; padding:0px 0px 0px 10px; cursor:pointer;}
/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current span, .tabs .current:hover span, .tabs li.current a span {color:#FFF;}
.panes .pane {display:none; border-bottom:1px solid #cacaca; border-left:1px solid #cacaca; border-right:1px solid #cacaca;}
.panes {background:#FFF url(../images/bg_tab_content.gif) repeat-x top left; width:370px; border:1px solid #cacaca; padding:10px;}
.h_panes {height:63px;}

