.footer {
    width:1138px;     
    margin: 0 auto;
}

.bg_content_css {
    width:1138px;    
    margin: 0 auto;
}

.title_banner_css {
    margin-top: -54px;
    margin-bottom: 30px;
}

.main_title_banner_css {
    text-transform: uppercase;
    font-size: 23px;
    color: #ffa401;
    font-weight: bold;    
}

.col_intro {
    border: 1px solid #cccccc;
}

.row_item_new_css {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.title_news_css a {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;    
}

.title_news_css {
    margin: 40px 0 15px 0;
}

.btnNext_1 {
    background:url(../images/news_icon.jpg) no-repeat;
    width: 22px;
    height: 26px;
    padding-left: 27px;
    padding-top: 6px;
}

.home_news_css{
    width: 360px;
    float: left;
    margin-right: 25px;
}

.home_last_news_css {
    margin-right: 0 !important;
}

.col_intro_last {
    margin-right: 0px;
}

.item_img_css img {
    width: 115px;
    height: 85px;
    border: 1px solid #cccccc;
    float: left;    
}

.item_info_css {
    width: 227px;
    float: left;
    height: 92px;
    padding-left: 15px;
    text-align: justify;
}

.intro_css {
    position: relative;
    top: 0;
    left: 0;    
    width: 60px;
    height: 67px;
    float: left;    
}

.intro_1_css {    
    background:url(../images/intro_1.jpg) no-repeat;    
    margin-left: -15px;
}


.intro_2_css {    
    background:url(../images/intro_2.jpg) no-repeat;    
    margin-left: -15px;
}

.intro_3_css {    
    background:url(../images/intro_3.jpg) no-repeat;    
    margin-left: -15px;
}

.cont_css {
    margin-left: 50px;
    text-align: justify;
}

.intro_title {
     color: #1c4861;
     font-weight: bold;
     font-size: 16px;
     margin: 15px 0 15px 0;
 }

.footer_css 
{
    width: 100%;
    height:64px;
    background:#ffa401;
    float: left;
}

.banner_css {
    float: left;
    height: 472px !important;      
    width: 100%;
    overflow: hidden;  
}

.hundred_percent_css {    
    width: 100%;
    float: left;
}

.banner_css .neoslideshow img
{
    /* Your're working with */
display: inline-block;

/* For IE 7 */
zoom: 1;
*display: inline;

/* For Mozilla Firefox < 3.0 */
display:-moz-inline-stack;
    width: auto !important;
    height: 472px !important;    
}

.footer_logo_css {
    height:63px;
    background:#e2e2e2;
    float: left;
    margin-top: 30px;
}

.footer .left {
    font-size: 13px;
    padding-top: 24px;
    margin-left: 0px;
}

.footer ul {
    font-size: 12px;
    padding-top: 22px;
}

.jscroller2_left {
    margin-top: -4px;
}

p {
    font-size: 13px;
}

.intro_readmore a {
    font-weight: normal;
    padding-right: 13px;
    background:url(../images/icon_arrow.jpg) no-repeat top right;
    width: 6px;
    height: 11px;
}

.intro_readmore {
    margin-top: 10px;
}

.intro_content {
    height: 100px;
}

.dropdown-menu a {
    font-size: 12px !important;    
}

.dropdown-menu li {
    border-bottom: 1px dotted #cccccc;
}



.title_lg
{
    padding-top: 15px;
    float: right;
    width: 422px;
}

.title_lg .t1 {
    width: 143px;
    float: left;
}

.title_lg .t1 b {
    color: #e49505;
}

.title_lg .t2 {
    width: 176px;
    float: left;
}

.title_lg .t3 {
    width: 100px;
    float: left;
}


.awb_bg_css {    
    width: 996px;    
    margin: 0 auto;    
}

.awb_bg_1_css {
    background: #cccccc;
    opacity: 0.35;
    filter: alpha(opacity=35); /* For IE8 and earlier */
    width: 996px;
    height: 177px;
    margin: -74px 0 20px 0;
    z-index: 99;
    position: relative;
    border: 1px solid #808080;    
}

.awb_row_1 {
    width: 100%;
    float: left;
}

.awb_tab_0 {
    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
  /*-webkit-border-radius: 12px; */

  /* Firefox 1-3.6 */
  /*-moz-border-radius: 12px; */
  
  /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
  border-top-left-radius: 12px; 
  border-top-right-radius: 12px; 
}

.awb_tab_1 {
    width: 226px;
    height: 57px;
    background: #ffffff;
    position: relative;
    z-index: 999;
    margin: -182px 0 0 15px;
}

.awb_tab_2 {
    width: 280px;
    height: 57px;
    background: #ffffff;
    position: relative;
    z-index: 999;
    margin: -57px 0 0 245px;
    opacity: 0.45;
    filter: alpha(opacity=45); /* For IE8 and earlier */
}

.awb_tab_3 {
    width: 146px;
    height: 57px;
    background: #ffffff;
    position: relative;
    z-index: 999;
    margin: -57px 0 0 529px;
    opacity: 0.45;
    filter: alpha(opacity=45); /* For IE8 and earlier */
}

.awb_row_2
{
    width: 968px;
    height: 91px;
    background: #ffffff;
    position: relative;
    z-index: 999;
    margin: -125px 0 0 15px;

    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-bottom-left-radius: 12px; 
    border-bottom-right-radius: 12px; 
}

.select_css {
    position: relative;
    z-index: 999;
    margin: -125px 0 15px 15px;
}

.banner_1_css {
    overflow: hidden;
}

.item_info_9 a {
    color: #000000 !important;
    font-size: 18px !important;
}

.item_info_8_css {
    width: 833px !important;
}

.item_img_1_css img {
    width: 273px;
    height: 182px;
}

.item_intro_css {
    font-size: 14px;
    width: 100%;
    text-align: justify;
}

.news_time {
    background:url(../images/clock-icon.jpg) no-repeat;
    padding-left: 16px;       
    color: #989a99;
}

.header ul {
    float: right;
}

.breadcrumbs_css a {
    color: #494949;
    font-weight: normal;    
}

h2 span {
    padding: 15px 0 10px 0;
    display: block;
}

.awb_tab_0 span{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    
    padding-top: 22px;       
    display: block;
    text-align: center;
}

.awb_tab_1 span
 {
    color: #fda400;
}

form#agent_form, form#airline_form {
     margin: 0px 0 0 27px;
}

form#customer_form {
    margin-left: 207px;
}


.inner_container {
    width:1138px !important;
    margin: 0 auto !important;
}

.capcha_css {
    width:100px;display:block;float:right
}

.capcha_img_css {
    width:135px;height:35px;
}

.td_css {
    padding-left: 20px;
}

.user_pass_css {
    width:150px;
}

.img_css {
    margin-top: -20px;
}

body {
    font-family: Arial;
    font-size: 13px;
}